<html>
    <head>
        <title>Mariana Vocal Assistant</title>
        {% load static %}

        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Mariana Vocal Assistant</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mateasmario/vocal-assistant">GitHub
                    </a>
                  </li>
                </ul>
            </div>
        </nav>

        {% for message in messages %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
             {{ message.QUESTION }}
              <span class="badge bg-primary rounded-pill">User</span>
            </li>
            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
              {{ message.ANSWER }}
              <span class="badge bg-primary rounded-pill">Mariana</span>
            </li>
          </ul>
        {% endfor %}
    </body>
</html>